# Application
APP_ENV=dev
APP_NAME=replace-me
APP_PORT=8080

# Google Cloud
GOOGLE_CLOUD_PROJECT=replace-me
GOOGLE_CLOUD_REGION=us-central1
ARTIFACT_REGISTRY_REPO=replace-me
SERVICE_NAME=replace-me

# Data
BQ_DATASET_RAW=replace-me_raw
BQ_DATASET_CORE=replace-me_core
BQ_DATASET_MART=replace-me_mart
GCS_BUCKET_MAIN=replace-me-bucket

# AI
VERTEX_LOCATION=us-central1
VERTEX_MODEL=gemini-2.5-flash

# Security
USE_SECRET_MANAGER=true

# Frontend
NEXT_PUBLIC_APP_ENV=dev
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080